.container {
	height: 100vh;
}

.wrap {
    position: relative;
    max-width: 1200px;
    margin: 240px auto;

	h1 {
		font-size: 22px;
		color: #111;
		line-height: 1.25;
	}
}

.item {
    position: relative;
    transform-style: preserve-3d;
    margin-bottom: 200px;
    cursor: pointer;
	transition: all 2500ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;

	img,
	.content {
		transition: all 2500ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
	}
}

.item.flip {
    text-align: right;
}

img {
    position: relative;
    width: 50%;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.03);
}

.content {
    width: 50%;
    position: absolute;
    top: 80%;
    left: 30%;
    transform: translateY(-50%) translateZ(200px);
    background: #fff;
    padding: 10px 20px 20px;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.03);
    .item.flip & {
        left: 10%;
    }
}

p {
    font-size: 18px;
    color: #888;
    line-height: 1.5;
}