:root {
	--color-backgound: #333;
	--color-grey-1: #777;
	--color-primary: #87e3e5;
	--color-white: #fff;
	--color-black: #111;
}

h1,
h2 {
	color: var(--color-white);
}

body {
	background-color: var(--color-backgound);
}

button {
	margin-top: 12px;
	background-color: var(--color-primary);
	border: none;
	padding: 8px 12px;
	border-radius: 4px;
	cursor: pointer;
	transition: filter 0.15s;

	&:hover {
		filter: brightness(70%);
	}
}

a {
	color: var(--color-primary);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
		text-underline-offset: 3px;
	}
}

[class*="page"] {
	h1 {
		text-align: center;
	}
}